<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/public :: commonStyle(~{::title},~{::link},~{})">
    <title>IT服务网-账户中心-充值</title>
    <link rel="stylesheet" type="text/css" href="/css/Account_center.css"/>
</head>
<body>
<!-- 头部公共 start -->
<div th:replace="common/header :: commonHeader('index')"></div>
<!-- 头部公共 end-->
<div class="personalBox">
    <div class="personalCon clearfix">
        <!-- 账户左侧导航栏  start  -->
        <div th:replace="userAccount/common/accountNavLeft :: bannerLeft('index')"></div>
        <!-- 账户左侧导航栏  end    -->
        <div class="perRight">
            <div class="daohang">
                <h5 class=""><img src="/images/personalCenter/blue.png" alt=""><span>充值</span></h5>
            </div>
            <div class="con1">
                <div class="zhanghaoye">
                    <p th:text="'账号余额：'+${#numbers.formatDecimal(userInfo.userAccountBalance,1,'COMMA',2,'POINT')}+' 元'"></p>
                </div>

                <div class="rechargeType clearfix">
                    <a href="/account/topUp?topUpType=online" class="reTypeCurrent">在线充值</a>
                    <a href="/account/topUp?topUpType=transfer" class="">线下转账</a>
                </div>

                <div class="reTypeCon">
                    <ul class="reTpyeList onLineType listCurrent">
                        <li class="clearfix">
                            <p class="fl onLineTit">* <span>充值金额：</span></p>
                            <div class="clearfix fl onLineNum">
                                <input type="text" class="form-control fl" placeholder="输入充值金额"/>
                                <span class="fl ">元</span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <p class="fl onLineTit payMentTit">* <span>支付方式：</span></p>
                            <div class="clearfix fl payMentImg">
                                <a href="javascript:;"><img src="/images/personalCenter/weixinzhifu.png" alt=""
                                                            class=""></a>
                                <a href="javascript:;"><img src="/images/personalCenter/zhifubaozhifu.png" alt=""
                                                            class=""></a>
                            </div>
                        </li>
                    </ul>
                    <div id="transferFrame">
                        <div id="transferDiv" class="reTpyeList transferType" th:fragment="transferDiv">
                            <p class="transferTit1">请您通过网银转账，或者自行到银行进行汇款，汇款账号如下：</p>
                            <ul class="accountInfo">
                                <li class="clearfix">
                                    <span>开户名称：</span>
                                    <p>北京IT服务网科技公司</p>
                                </li>
                                <li class="clearfix">
                                    <span>开户银行：</span>
                                    <p>招商银行（北京方庄支行）</p>
                                </li>
                                <li class="clearfix">
                                    <span>银行卡号：</span>
                                    <p>6214 8641 7370 4417</p>
                                </li>
                            </ul>
                            <p class="transferTit2">提交转账凭证<span>（转账成功后请提交转账凭证或通过客服联系我们,正常情况下3个工作日内到账）</span></p>
                            <form id="transferForm" action="/account/offLineTransfer" method="post"
                                  enctype="multipart/form-data">
                                <input type="hidden" name="topUpType" value="transfer"/>
                                <ul class="voucherInfo">
                                    <li class="clearfix">
                                        <p class="vouTit"><span>* </span>联系手机：</p>
                                        <input id="mobile" name="mobile" type="text" class="vouInput form-control"
                                               placeholder="输入您的手机号"/>
                                        <label for="mobile" class="error" style="margin-left: 20px;"></label>
                                    </li>
                                    <li class="clearfix">
                                        <p class="vouTit"><span>* </span>转账金额：</p>
                                        <div class="vouNum">
                                            <input id="transAmount" name="transAmount" type="text"
                                                   class="vouInput form-control" placeholder="输入转账金额"/>
                                            <b>元</b>
                                        </div>
                                        <label for="transAmount" class="error" style="margin-left: 20px;"></label>
                                    </li>
                                    <li class="clearfix">
                                        <p class="vouTit"><span>* </span>上传凭证：</p>
                                        <a href="javascript:;" class="upVouBtn"><span>上传转账凭证</span><input
                                                id="transferFile" name="transferFile" type="file"/></a>
                                        <label id="transferFileErr" for="transferFile" class="error"></label>
                                    </li>
                                </ul>
                                <a href="javascript:void(0);" id="submitBtn" class="anniu2 subPos">提交</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 公共底部 start -->
<div th:replace="common/footer :: commonFooter"></div>
<!-- 公共底部 end -->
<!-- 弹框 start -->
<div th:replace="common/prompt"></div>
<!-- 弹框 end -->
<script type="text/javascript" th:inline="javascript">
        $(function(){
            // 默认显示不同支付模块
            var topUpType = [[${topUpType}]];
            if (topUpType == "transfer") {
                $('.rechargeType a').removeClass('reTypeCurrent');
                $('.rechargeType a:nth-child(2)').addClass('reTypeCurrent');
                $(".reTpyeList").hide();
                $(".transferType").show();
            }

            var transferFormValidate = $("#transferForm").validate({
                rules : {
                    mobile : {
                        required : true,
                        maxlength : 11,
                        isMobile:true
                    },
                    transAmount : {
                        required : true,
                        number: true,
                        isDecimal: [0, 999999999, 2],
                        min: 1
                    }
                },
                messages : {
                    mobile : {
                        required : "请输入手机号",
                        isMobile : "请输入正确的手机号",
                        maxlength : "请输入正确的手机号"
                    },
                    transAmount : {
                        required: "请输入转账金额",
                        number: "最低转账金额不能小于1.00元，小数点后不超过2位",
                        isDecimal: "最低转账金额不能小于1.00元，小数点后不超过2位",
                        min: "最低转账金额不能小于1.00元，小数点后不超过2位"
                    }
                }
            });

            $("#submitBtn").click(function(){
                if (transferFormValidate.form()) {
                    var transferFile = $('#transferFile').get(0).files[0];
                    if (transferFile) {
                        $("#transferFileErr").html("").hide();
                        $("#submitBtn").addClass("aDisabledBtn");
                        var form = $("#transferForm")[0];
                        var data = new FormData(form);
                        $.ajax({
                            url : "/account/offLineTransfer",
                            type : 'POST',
                            enctype: 'multipart/form-data',
                            data : data,
                            processData: false,
                            contentType: false,
                            cache: false,
                            timeout: 600000,
                            success : function(data) {
                                $("#submitBtn").removeClass("aDisabledBtn");
                                GlobalPrompt.prompt(data.msg, function(){
                                    window.location.href = "/account/topUpRecord";
                                });
                            },
                            error: function (e) {
                                $("#submitBtn").removeClass("aDisabledBtn");
                                GlobalPrompt.prompt("系统异常");
                            }
                        });
                    } else {
                        $("#transferFileErr").html("请上传凭证！").show();
                    }
                }
            })
        })

        //切换在线充值和线下转账
        /*$('.rechargeType a').click(function(){
            $('.rechargeType a').removeClass('reTypeCurrent');
            $(this).addClass('reTypeCurrent');
            $(".reTpyeList").hide().eq($(this).index()).show();
        });*/

        $(function(){
            // 显示文件名称
            var text;
            var arr;
            $("input[type='file']").change(function(){
                arr = $(this).val().split('\\');
                text = arr[arr.length-1];
                if (!text) {
                    text = "上传转账凭证";
                }
                $(this).prev().text(text)
            })
        })


</script>

</body>
</html>



