<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:itech="http://www.thymeleaf.org/mytag/itech">
<head th:replace="common/public :: commonStyle(~{::title},~{::link},~{})">
    <title>IT服务网-账户中心-充值记录</title>
    <link rel="stylesheet" type="text/css" href="/css/Account_center.css"/>
    <link rel="stylesheet" type="text/css" href="/css/datepicker.css"/>
</head>
<body>
<!-- 头部公共 start -->
<div th:replace="common/header :: commonHeader('index')"></div>
<!-- 头部公共 end-->

<div class="personalBox">
    <div class="personalCon clearfix">
        <!-- 账户左侧导航栏  start  -->
        <div th:replace="userAccount/common/accountNavLeft :: bannerLeft('index')"></div>
        <!-- 账户左侧导航栏  end    -->
        <div class="perRight">
            <form id="searchForm" action="/account/topUpRecord" method="post">
                <input type="hidden" name="pageNum" id="pageNum"/>
                <input type="hidden" name="loadingType" id="loadingType"/>
                <div class="daohang">
                    <h5 class=""><img src="/images/personalCenter/blue.png" alt=""><span>充值记录</span></h5>
                </div>
                <div class="con1">
                    <div class="time clear">
                        <div class="date">
                            充值时间：&nbsp;&nbsp;<input type="text" id="startDate" name="startDate" th:value="${startDate}"
                                                    class="form-control" readonly="readonly"/> <i class="date_one"></i>
                            &nbsp;-&nbsp;&nbsp;<input type="text" id="endDate" name="endDate" th:value="${endDate}"
                                                      class="form-control" readonly="readonly"/> <i
                                class="date_two"></i>
                            <a href="javascript:void(0);" onclick="searchByCondition(1);"
                               class="anniu5 marginl20">查询</a>
                        </div>
                    </div>
                    <div id="userTopUpList" class="jiluchaxun" th:fragment="userTopUpList">
                        <p class="p01">充值总金额：<span th:text="${#numbers.formatDecimal(totalAmount,1,2,'POINT')}"></span>元
                        </p>
                        <th:block th:if="${not #lists.isEmpty(pageInfo.list)}">
                            <table class="recordCon">
                                <thead>
                                <tr class="headRecord">
                                    <th>流水号</th>
                                    <th>充值时间</th>
                                    <th>充值金额（元）</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody class="recordInfo">
                                <tr th:each="userTopUps : ${pageInfo.list}">
                                    <td th:text="${userTopUps.ordId}"></td>
                                    <td th:text="${#dates.format(userTopUps.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#numbers.formatDecimal(userTopUps.topupAmount, 1, 2,'POINT')}"></td>
                                    <td>
                                        <itech:code parentCode="topupStatus" type="text"
                                                    th:value="${userTopUps.status}"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="pager">
                                <a href="javascript:void(0);" onclick="searchByCondition(1);">首页</a>
                                <a href="javascript:void(0)" th:if="${pageInfo.hasPreviousPage} == true"
                                   th:onclick="'searchByCondition('+ ${pageInfo.prePage} +')'">上一页</a>
                                <!--遍历条数-->
                                <th:block th:each="i:${pageInfo.navigatepageNums}">
                                    <a href="javascript:void(0);" th:onclick="'searchByCondition('+ ${i} +')'"
                                       th:text="${i}" th:class="${i == pageInfo.pageNum} ? 'current' : ''"></a>
                                </th:block>
                                <a href="javascript:void(0);" th:if="${pageInfo.hasNextPage} == true"
                                   th:onclick="'searchByCondition('+ ${pageInfo.nextPage} +')'">下一页</a>
                                <a href="javascript:void(0);" th:onclick="'searchByCondition('+ ${pageInfo.pages} +')'">尾页</a>
                            </div>
                        </th:block>
                        <!-- 暂无记录 -->
                        <th:block th:if="${#lists.isEmpty(pageInfo.list)}">
                            <p class="noneRecord">暂无记录</p>
                        </th:block>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 公共底部 start -->
<div th:replace="common/footer :: commonFooter"></div>
<!-- 公共底部 end -->

<script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" th:inline="javascript">
        $(function() {
            /* $('#startDate').datetimepicker({format: 'yyyy-mm-dd hh:ii'}); */
            $("input[name='startDate']").datepicker({
                format : 'yyyy-mm-dd'
            });
            $("input[name='endDate']").datepicker({
                format : 'yyyy-mm-dd'
            });    
        });
        function searchByCondition(pageNum) {
            AJAX.get(
                "/islogin",
                function (data) {
                    if(data) {
                        $("#pageNum").val(pageNum);
                        // 采用局部刷新
                        $("#loadingType").val("partLoad");
                        $('#userTopUpList').load("/account/topUpRecord", $("#searchForm").serialize());
                    } else {
                        window.location.href = "/login";
                    }
                }
            )
        }

</script>
</body>
</html>



