<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/public :: commonStyle(~{::title},~{::link},~{})">
    <title>IT服务网-账户中心-IP地址</title>
    <link rel="stylesheet" type="text/css" href="/css/Account_center.css"/>
</head>
<body>
<!-- 头部公共 start -->
<div th:replace="common/header :: commonHeader('index')"></div>
<!-- 头部公共 end-->

<div class="personalBox">
    <div class="personalCon clearfix">
        <!-- 账户左侧导航栏  start  -->
        <div th:replace="userAccount/common/accountNavLeft :: bannerLeft('saasCenter')"></div>
        <!-- 账户左侧导航栏  end    -->
        <div class="perRight">
            <div class="daohang" id="content">
                <h5 class=""><img src="/images/personalCenter/blue.png"
                                  alt=""><span>IT服务网服务</span>/<span>云计算SaaS</span>/<span>全球IP地址归属地查询</span></h5>
                <div class="banner">
                    <div class="bg_01">
                        <h3 class="queryTit">全球IP地址归属地查询</h3>
                        <a href="javascript:;" class="applyForBtn">申请API</a>
                        <p class="applyText">支持国内外IP，全球覆盖99.99%以上，实时更新，平均响应时间小。</p>
                    </div>
                </div>
                <!-- 申请API 提交 start-->
                <div th:replace="/userAccount/saasCenter/applyAPISubmit"></div>
                <!-- 申请API提交  end-->
                <div class="chaxun">
                    <form id="dataForm" autocomplete="off">
                        <div class="input-group">
                            <input id="ip" name="ip" type="text" class="form-control selectInput" placeholder="输入要查询IP">
                            <a id="search" href="javascript:;" class="centerBtn btnEnabled enterEvent">
                                免费查询
                            </a>
                        </div>
                    </form>
                </div>
                <!-- 图形验证码弹框 start-->
                <div th:replace="/userAccount/common/validateCode"></div>
                <!-- 图形验证码弹框 end-->
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>
<!-- 公共底部 start -->
<div th:replace="common/footer :: commonFooter"></div>
<!-- 公共底部 end -->
<!-- 弹框 start-->
<div th:replace="/common/prompt"></div>
<!-- 弹框 end-->
</body>
<script type="text/javascript" th:src="@{/plugins/template/jquery.tmpl.min.js}"></script>
<script id="globalIPTmpl" type="text/x-jquery-tmpl">
    <div id="queryResult" class="con1">
        <h5>归属地查询结果</h5>
        <p class="guishudi">IP 地址归属地：&nbsp;&nbsp;<span id="region">{{= region}}</span></p>
    </div>

</script>
<script type="text/javascript">
    $(function(){
        var dataFormValidate = $("#dataForm").validate({
            onfocusout:false,
            onkeyup:false,
            focusCleanup:true,
            rules : {
                ip : {
                    required : true,
                    ipv4 : true
                },
                validateCode : {
                    required : true,
                    minlength : 4,
                    maxlength : 4
                }
            },
            messages : {
                ip : {
                    required : "请输入要查询的IP",
                    ipv4 : "IP格式不正确"
                },
                validateCode: {
                    required: " 请输入验证码",
                    minlength: " 验证码错误",
                    maxlength: " 验证码错误"
                }
            },
            errorPlacement: function(error, element) {
                GlobalPrompt.prompt(error.text());
            }
        });

        //查询
        $("#search").click(function() {
            if(myFormValidate(dataFormValidate)){
                // 图形验证码弹框
                ValidateCodePrompt.prompt(function () {
                    AJAX.post(PageContext.contextPath + "/xdkj/service/online/ipPlaceQuery",
                        $.param({"validateCode" : $("#validateCodeForm #validateCode").val()}) +'&'+ $("#dataForm").serialize(),
                        function (data) {
                            ValidateCodePrompt.close("subBtn");
                            //查询成功
                            if (data.status == "0") {
                                //清除原有查询结果框
                                if ($("#queryResult").length > 0) {
                                    $("#queryResult").remove();
                                }
                                $('#globalIPTmpl').tmpl(data).insertAfter('#content');
                            } else {
                                GlobalPrompt.prompt(data.msg);
                            }
                        }
                    );
                });
            }
        });
    });

</script>
</html>



