<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/public :: commonStyle(~{::title},~{::link},~{})">
    <title>IT服务网-账户中心-企业纳税人</title>
    <link rel="stylesheet" type="text/css" href="/css/Account_center.css"/>
</head>
<body>
<!-- 头部公共 start -->
<div th:replace="common/header :: commonHeader('index')"></div>
<!-- 头部公共 end-->

<div class="personalBox">
    <div class="personalCon clearfix">
        <!-- 账户左侧导航栏  start  -->
        <div th:replace="userAccount/common/accountNavLeft :: bannerLeft('saasCenter')"></div>
        <!-- 账户左侧导航栏  end    -->
        <div class="perRight">
            <div class="daohang">
                <h5 class=""><img src="/images/personalCenter/blue.png"
                                  alt=""><span>IT服务网服务</span>/<span>云计算SaaS</span>/<span>企业纳税人识别号查询</span></h5>
                <div class="banner">
                    <div class="bg_01">
                        <h3 class="queryTit">企业纳税人识别号查询</h3>
                        <a href="/appointment/taxpayer/download" class="applyForBtn">下载API文档</a>
                        <p class="diffText">互联网身份证二要素实名核验，返回:认证结果、姓名、身份证号码、性别、领证地区及出生日期。</p>
                    </div>
                </div>
                <div class="chaxun">
                    <div class="input-group">
                        <input type="text" class="form-control selectInput" placeholder="输入要查询的公司名称/简称">
                        <a href="javascript:;" class="centerBtn enterEvent">
                            查询
                        </a>
                    </div>
                </div>
                <div class="yu_e">
                    <p>当前账户余额：<strong
                            th:text="${#numbers.formatDecimal(userInfo.userAccountBalance,1,'COMMA',2,'POINT')}"></strong>
                        元　单次查询费用：0.50元/次　免费查询次数剩余：<span th:text="${userExpenseCount}"></span>次</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="con1">
                <h5>查询结果</h5>
                <dl>
                    <dt class="dt44">公司抬头：</dt>
                    <dd class="dd44">XXX XXX XXX</dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl>
                    <dt class="dt44">公司税号/工商注册号：</dt>
                    <dd class="dd44">XXX XXX XXX</dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl>
                    <dt class="dt44">公司地址：</dt>
                    <dd class="dd44">XXX XXX XXX</dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl>
                    <dt class="dt44">联系电话：</dt>
                    <dd class="dd44">XXX XXX XXX</dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl>
                    <dt class="dt44">开户银行名称：</dt>
                    <dd class="dd44">XXX XXX XXX</dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl>
                    <dt class="dt44">开户银行账号：</dt>
                    <dd class="dd44">XXX XXX XXX</dd>
                    <div style="clear:both;"></div>
                </dl>
                <div style="height:80px;"></div>
            </div>
        </div>
    </div>
</div>
<!-- 公共底部 start -->
<div th:replace="common/footer :: commonFooter"></div>
<!-- 公共底部 end -->

</body>
</html>



