<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/public :: commonStyle(~{::title},~{::link},~{})">
    <title>IT服务网-账户中心-天气预报</title>
    <link rel="stylesheet" type="text/css" href="/css/Account_center.css"/>
</head>
<body>
<!-- 头部公共 start -->
<div th:replace="common/header :: commonHeader('index')"></div>
<!-- 头部公共 end-->

<div class="personalBox">
    <div class="personalCon clearfix">
        <!-- 账户左侧导航栏  start  -->
        <div th:replace="userAccount/common/accountNavLeft :: bannerLeft('saasCenter')"></div>
        <!-- 账户左侧导航栏  end    -->
        <div class="perRight">
            <div class="daohang">
                <h5 class=""><img src="/images/personalCenter/blue.png"
                                  alt=""><span>IT服务网服务</span>/<span>云计算SaaS</span>/<span>全国天气预报查询</span></h5>
                <div class="banner">
                    <div class="bg_01 bg_tq">
                        <a href="javascript:;" class="applyForBtn">申请API</a>
                        <div class="weatherText">
                            <p>全国3000多个省市的天气预报查询，包括：实时天气气温、最高最低温度、风级、风力、湿度、气压；</p>
                            <p>生活指数包括：空调、运动、紫外线、感冒、洗车、空气污染扩散、穿衣等；</p>
                            <p>未来7天夜晚与白天天气、风力、最低最高温度、日出日落时间以及未来24小时的天气情况。</p>
                            <p>（接口流量限制情况：10次流控/分钟）</p>
                        </div>
                    </div>
                </div>
                <!-- 申请API提交 start-->
                <div th:replace="/userAccount/saasCenter/applyAPISubmit"></div>
                <!-- 申请API提交  end-->

                <div class="chaxun">
                    <form id="dataForm" autocomplete="off">
                        <div class="input-group">
                            <input id="chineseCityName" type="text" name="chineseCityName"
                                   class="form-control selectInput" placeholder="输入要查询的城市名">
                            <!--<input id="validateCode" type="hidden"  name="validateCode" value="1234" />-->
                            <a id="search" href="javascript:;" class="centerBtn btnEnabled enterEvent">
                                免费查询
                            </a>
                        </div>
                    </form>
                </div>

                <!-- 图形验证码弹框 start-->
                <div th:replace="/userAccount/common/validateCode"></div>
                <!-- 图形验证码弹框 end-->

                <div id="line" class="line"></div>
            </div>
        </div>
    </div>
</div>
<!-- 公共底部 start -->
<div th:replace="common/footer :: commonFooter"></div>
<!-- 公共底部 end -->
<!-- 弹框 start-->
<div th:replace="/common/prompt"></div>
<!-- 弹框 end-->
</body>
<script type="text/javascript" th:src="@{/plugins/template/jquery.tmpl.min.js}"></script>
<!-- 天气预报模板 -->
<script id="weatherReportTmpl" type="text/x-jquery-tmpl">
    <div id="queryResult" class="con1">
        <h5 class="biaoti_h5">天气预报查询结果：</h5>
        <ul class="resultInfo">
            <li class="clearfix">
                <span class="resultTit">城市名称：</span>
                <p class="resultTxt">{{= city}}</p>
            </li>
            <li class="clearfix">
                <span class="resultTit">天气日期：</span>
                <p class="resultTxt">{{= date}}</p>
            </li>
            <li class="clearfix">
                <span class="resultTit">天气情况：</span>
                <p class="resultTxt">{{= weather}}</p>
            </li>
            <li class="clearfix">
                <span class="resultTit">生活指数：</span>
                <div class="resultTxt moreLineTxt">
                    {{each index}}
                        <p>{{= $value}}</p>
                    {{/each}}
                </div>
            </li>
            <li class="clearfix">
                <span class="resultTit">空气质量：</span>
                <p class="resultTxt">{{= aqi}}</p>
            </li>
        </ul>
        <h5 class="biaoti_h5">未来7天天气情况：</h5>
        <ul class="ul1">
            <li class="li1">描述信息</li>
            <li class="li2">夜晚</li>
            <li class="li3">白天</li>
            <div style="clear:both;"></div>
        </ul>
        {{each daily}}
        <ul class="ul2">
            <li class="li1">{{= $value.dec}}</li>
            <li class="li2"><img src="/images/weatherImg/{{= $value.nimg}}.png" alt=""></li>
            <li class="li3"><img src="/images/weatherImg/{{= $value.dimg}}.png" alt=""></li>
            <div style="clear:both;"></div>
        </ul>
        {{/each}}

        <h5 class="biaoti_h5">未来24小时天气情况：</h5>
        <ul class="ul3">
            <li class="li1">描述信息</li>
            <li class="li2">每小时</li>
            <div style="clear:both;"></div>
        </ul>

        {{each hourly}}
        <ul class="ul4">
            <li class="li1">{{= $value.dec}}</li>
            <li class="li2"><img src="/images/weatherImg/{{= $value.himg}}.png" alt=""></li>
            <div style="clear:both;"></div>
        </ul>
        {{/each}}
        <div class="chixu"><p>数据最后更新时间：{{= update}}</p></div>
    </div>

</script>

<script type="text/javascript">
    $(function(){
        //手机号校验
        var dataFormValidate = $("#dataForm").validate({
            onfocusout:false,
            onkeyup:false,
            focusCleanup:true,
            rules : {
                chineseCityName : {
                    required : true
                },
                validateCode : {
                    required : true,
                    minlength : 4,
                    maxlength : 4
                }
            },
            messages : {
                chineseCityName : {
                    required : "请输入城市名称",
                },
                validateCode: {
                    required: " 请输入验证码",
                    minlength: " 验证码错误",
                    maxlength: " 验证码错误"
                }
            },
            errorPlacement: function(error, element) {
                GlobalPrompt.prompt(error.text());
            }
        });

        //查询
        $("#search").click(function() {
            if(myFormValidate(dataFormValidate)){
                // 图形验证码弹框
                ValidateCodePrompt.prompt(function (){
                    AJAX.post(PageContext.contextPath +"/xdkj/service/online/weatherQuery",
                        $.param({"validateCode" : $("#validateCodeForm #validateCode").val()}) +'&'+ $("#dataForm").serialize(),
                        function(data) {
                            ValidateCodePrompt.close("subBtn");
                            //查询成功
                            if(data.status == "0"){
                                //清除原有查询结果框
                                if($("#queryResult").length > 0){
                                    $("#queryResult").remove();
                                }
                                $('#weatherReportTmpl').tmpl(data).insertAfter('#line');
                            }else{
                                GlobalPrompt.prompt(data.msg);
                            }
                        }
                    );
                });
            }
        });

    });

</script>

</html>



