<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>设置用户角色</title>
</head>
<style>
    .myTitle {
        overflow: hidden;
    }

    .myTitle span {
        width: 400px;
        float: left;
        text-align: center;
        font-size: 16px;
        padding-bottom: 10px;
    }

    .myTitle .title2 {
        float: right;
    }
</style>
<body>
<div class="layui-container" style="margin-top: 15px;">
    <input id="managerId" type="hidden" th:value="${managerId}">
    <div class="myTitle">
        <span>未选角色</span>
        <span class="title2">已选角色</span>
    </div>
    <div id="root">
    </div>
    <div class="layui-form-item" style="padding-left:360px;padding-top:22px;">
        <button id="saveRoleSetting" class="layui-btn" lay-submit lay-filter="add">保存角色设置</button>
        <button id="closeRoleSetting" class="layui-btn">关闭</button>
    </div>
</div>
</body>
<script>
    layui.use(['form', 'layer', 'jquery', 'transfer'], function () {
        var transfer = layui.transfer, $ = layui.$, layer = layui.layer;

        //表格列
        var cols = [{type: 'checkbox', fixed: 'left'}, {field: 'name', title: '角色名称'}]
        //表格配置文件
        var tabConfig = {'page': false, 'height': 400};
        var roleSelectTab = null;
        $.ajax({
            type: "POST",
            url: PageContext.getUrl('/sysmanager/role/load'),
            data: {managerId: $("#managerId").val()},
            async: false,
            dataType: 'json',
            cache: false,
            error: function () {
                layer.alert("系统繁忙，请稍后重试");
            },
            success: function (data) {
                if (data.flag == 'true') {
                    roleSelectTab = transfer.render({
                        elem: "#root", //指定元素
                        cols: cols, //表格列  支持layui数据表格所有配置
                        data: [data.unSelectRoles, data.selectRoles], //[左表数据,右表数据[非必填]]
                        tabConfig: tabConfig //表格配置项 支持layui数据表格所有配置
                    });
                } else {
                    layer.msg('加载角色失败', {icon: 5});
                }
            }
        });

        $('#closeRoleSetting').on('click', function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });


        $('#saveRoleSetting').on('click', function () {
            var selectRoleIds = transfer.get(roleSelectTab, 'right', 'id');
            var selectRoleIdsArr;
            if (selectRoleIds) {
                selectRoleIdsArr = selectRoleIds.split(",");
            } else {
                layer.msg("请选择角色", {icon: 5});
                return false;
            }
            $.ajax({
                type: "POST",
                url: PageContext.getUrl("/sysmanager/role/save"),
                data: {roleIds: selectRoleIdsArr, managerId: $("#managerId").val()},
                async: false,
                error: function () {
                    layer.alert("系统繁忙，请稍后重试");
                },
                success: function (data) {
                    //结果回应
                    if (data.flag == 'true') {
                        layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                            //先得到当前iframe层的索引
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index); //再执行关闭
                            //刷新父页面
                            parent.location.reload();
                        });
                    } else {
                        layer.msg(data.msg, {icon: 5});
                    }
                }
            });
        });

    })
</script>
</html>