<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--foot start-->
<div class="footerBox" th:fragment="commonFooter">
    <div class="footerCon clearfix">
        <div class="footLeft">
            <a href="/" class="footLogo"><img th:src="@{/images/publicImg/bigerLogo.png}"/></a>
            <p class="bigerNum">400-066-9355</p>
        </div>
        <div class="footCenter">
            <div class="footNavList clearfix">
                <a href="/aboutUs">关于IT服务网</a><i></i>
                <a href="javascript:;">服务协议</a><i></i>
                <a href="javascript:;">行业资讯</a><i></i>
                <a href="javascript:;">加入我们</a>
            </div>
            <p class="recordNumber">中小企业IT服务网　Beijing Zhongda Technologies Co., Ltd.　京ICP备11024125号</p>
        </div>
        <div class="footRight">
            <div class="footTwoCode">
                <img th:src="@{/images/publicImg/weChatCode.jpg}"/>
                <p>扫一扫，关注公众号</p>
            </div>
        </div>
    </div>
</div>
<!--foot end-->
</html>