<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--head start-->
<div th:fragment="commonHeader(channel)">
    <div class="headTop">
        <div class="headTopCon clearfix">
            <div class="headTopLeft">
                <span>欢迎您来到IT服务网！<!--服务热线：--></span><!--<b>400-066-9355</b>-->
            </div>
            <div class="headTopRight clearfix">
                <div class="headLogin" id="loginOut_head">
                    <a th:href="@{/login}">登录</a>
                    <a th:href="@{/register/index}">注册</a>
                </div>
                <div class="afterLanding clearfix" id="onlogin_head" style="display: none;">
                    <a th:href="@{/account/sysMessage/index}" class="systemMess clearfix"><i></i><span>系统消息</span><b
                            id="messageNum"></b></a>
                    <a th:href="@{/account/index}" class="personCenter">个人中心</a>
                    <a th:href="@{/loginOut}" class="quitText">退出</a>
                </div>
                <div class="headQQ">
                    <span>在线客服：</span>
                    <a class="qqOne" target="_blank" href="tencent://message/?uin=32828069&Site=qq&Menu=yes"><img
                            th:src="@{/images/publicImg/qqChatIcon.png}"/></a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=32828069&site=qq&menu=yes"><img
                            th:src="@{/images/publicImg/qqChatIcon.png}"/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bigerNavBox">
        <div class="bigerNavCon clearfix">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8"><h1 class="logoImg"><a href="/"><img th:src="@{/images/publicImg/bigerLogo.png}"/></a></h1></div>
                <div class="col-xs-6 col-md-4">
                        <div class="input-group " style="margin-bottom: 0">
                            <input id="ppxh" name="ppxh" type="text"  th:value="${ppxh}" class="form-control" placeholder="请输入型号或品牌搜索" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon2"><a class="freeTrial" id="submitBtn" style="cursor:hand;">搜索</a></span>
                        </div>
                </div>
            </div>

            <!--<div class="col-lg-6" style="horiz-align: right">
            <div class="input-group " style="horiz-align: right">
                <input id="ppxh" name="ppxh" type="text" class="form-control" placeholder="请输入型号或品牌搜索" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><a class="freeTrial" id="submitBtn" style="cursor:hand;">搜索</a></span>
            </div>
            </div>-->

            <ul class="navList clearfix">
                <li><a th:href="@{/}" th:class="${channel eq 'index'} ? 'navActive' : ''">首页</a></li>
                <!--<li><a th:href="@{/saas}" th:class="${channel eq 'SAAS'} ? 'navActive' : ''">云计算SaaS</a></li>
                <li><a th:href="@{/paas}" th:class="${channel eq 'PAAS'} ? 'navActive' : ''">云计算PaaS</a></li>
                <li><a th:href="@{/iaas}" th:class="${channel eq 'IAAS'} ? 'navActive' : ''">云计算IaaS</a></li>
                <li><a th:href="@{/customization}" th:class="${channel eq 'customization'} ? 'navActive' : ''">定制研发</a>-->

                <li><a th:href="@{/zjpt}" th:class="${channel eq 'ZJPT'} ? 'navActive' : ''">资金平台</a></li>
                <li><a th:href="@{/gxkf}" th:class="${channel eq 'GXKF'} ? 'navActive' : ''">库房平台</a></li>
                <li><a th:href="@{/gxfwpt}" th:class="${channel eq 'GXFWPT'} ? 'navActive' : ''">风险管控</a></li>
                <li><a th:href="@{/sbxx}" th:class="${channel eq 'SBXX'} ? 'navActive' : ''">设备选型</a></li>
                <li><a th:href="@{/erp}" th:class="${channel eq 'ERP'} ? 'navActive' : ''">ERP入口</a></li>
                <li><a th:href="@{/deviceInfo/sbzn}" th:class="${channel eq 'SBZN'} ? 'navActive' : ''">设备租赁</a></li>
                <li><a th:href="@{/deviceInfo/sbwb}" th:class="${channel eq 'SBWB'} ? 'navActive' : ''">设备维保</a></li>
                <li><a th:href="@{/deviceInfo/rjxz}" th:class="${channel eq 'RJXZ'} ? 'navActive' : ''">软件下载</a>
                </li>
<!--                <li><a th:href="@{/aboutUs}" th:class="${channel eq 'aboutUs'} ? 'navActive' : ''">关于我们</a></li>-->
            </ul>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        // 判断是否登陆
        /*<![CDATA[*/
        var isLogin = [[${session.IS_LOGIN}]] ;
        /*系统消息总数*/
        var sysMessageCounts = [[${session.SYS_MESSAGE_NUMS_COUNT_PC}]];
        if (isLogin == "true") {
            $("#loginOut_head").hide();
            $("#onlogin_head").show();
            $("#messageNum").text(sysMessageCounts);
        } else {
            $("#loginOut_head").show();
            $("#onlogin_head").hide();
            $("#messageNum").val(0);
        }
        /*]]>*/


        $("#submitBtn").click(function() {
            var ppxh=$("#ppxh").val();
            if(ppxh == "" || ppxh == null || ppxh == undefined){ // "",null,undefined
                // bootbox.alert("请输入查询条件!");
                GlobalPrompt.prompt("请输入查询条件再查询!");
            }else {
                window.location.href=pageContext.contextPath + "/deviceInfo/dlsxx?ppxh="+encodeURI(ppxh);
            }
        });

    </script>
</div>
<!--head end-->
</html>