<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:itech="http://www.thymeleaf.org/mytag/itech" lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>新增公告</title>
</head>
<style type="text/css" media="screen">
    .one-tj {
        margin-left: 10px;
        margin-right: 25px;
    }

    .one-btn-btn {
        width: 230px;
        padding-top: 10px;
        margin: 0 auto;
    }

    .layui-form .layui-form-label {
        padding-left: 15px;
        color: #666666;
    }

    .layui-form .layui-input-block {
        width: 300px;
    }

    .layui-form .layui-input-block input, .layui-form .layui-input-block textarea {
        color: #aaaaaa;
    }

</style>
<body>
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title site-title">
    </fieldset>
    <form class="layui-form">
        <input id="id" type="hidden" name="id" th:value="${websiteBulletin.id}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">公告标题</label>
            <div class="layui-input-block">
                <input id="topic" type="text" name="topic" value="" class="layui-input"
                       lay-verify="required" th:value="${websiteBulletin.topic}"
                       placeholder="请输入公告标题">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公告类型</label>
            <div class="layui-input-block">
                <itech:code property="type" parentCode="gglx" type="radio"
                            th:value="${websiteBulletin.type}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">公告内容</label>
            <div class="layui-input-block">
                <script id="editorContent" type="text/plain" style="width:500px;height:300px;"></script>
                <input type="hidden" name="content" id="content" th:value="${websiteBulletin.content}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">发布状态</label>
            <div class="layui-input-block">
                    <itech:code property="publishStatus" parentCode="publishStatus" type="radio"
                th:value="${websiteBulletin.publishStatus}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否置顶</label>
            <div class="layui-input-block">
                    <itech:code property="topMark" parentCode="yesNo" type="radio"
                    th:value="${websiteBulletin.topMark}"/>
            </div>
        </div>

        <div class="layui-form-item one-btn-btn">
            <button class="layui-btn one-tj" id="saveButton" lay-submit lay-filter="add">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>


<script type="text/javascript" th:src="@{/js/system/websiteBulletin/add.js}"></script>
<script type="text/javascript">
    window.onload = function () {
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editorContent');
        ue.focus();
    };
</script>
</body>
</html>