<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>云计算IAAS预约咨询</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header">
            <form id="searchForm" class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input id="customerName" type="text" name="customerName" placeholder="请输入用户名"
                                   class="layui-input" th:value="${name}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">手机号码</label>
                        <div class="layui-input-block">
                            <input id="customerPhone" type="text" name="customerPhone" placeholder="请输入手机号码"
                                   class="layui-input" th:value="${customerPhone}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">服务名称</label>
                        <div class="layui-input-block">
                            <input id="serviceName" type="text" name="serviceName" placeholder="请输入服务名称"
                                   class="layui-input" th:value="${serviceName}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn" lay-submit data-type="search">
                            <i class="layui-icon layui-icon-search"></i>
                        </a>
                        <button type="button" class="layui-btn" data-type="searchFormClear">
                            <i class="layui-icon layui-icon-delete"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="layui-card-body">

            <table id="iaasApplyTables" lay-filter="iaasApplyTables"></table>
            <script id="status" type="text/html">
                {{#  if(d.STATUS === undefined){ }}
                未知
                {{#  } else { }}
                {{#  if(d.STATUS === '1'){ }}
                已联系
                {{#  } else { }}
                未联系
                {{#  } }}
                {{#  } }}
            </script>
            <script id="iaasApplyBar" type="text/html">
                {{#  if(d.STATUS === '1'){ }}
                <a class="" lay-event="do"><i class="fa fa-ban"></i>&nbsp;已联系</a>
                {{#  } else { }}
                <a class="layui-btn layui-btn-warm  layui-btn-xs" lay-event="undo"><i class="fa fa-circle-o"></i>&nbsp;置为已联系</a>
                {{#  } }}

            </script>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/system/serviceApply/iaaslist.js}"></script>

</body>
</html>