<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>设备信息</title>
</head>


<body class="layui-layout-body" style="overflow-y: auto">
<div class="layui-layout layui-layout-admin">
    <div style="padding: 15px;">
        <h3 class="titNav">
            <p>新增设备信息</p>
        </h3>
        <hr>
        <div class="proCon">
            <form id="searchForm" class="layui-form">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class="grid-demo grid-demo-bg1">
                            <ul class="proInfo basicInfo">

                                <li class="layui-clear">
                                    <span><i style=" color: #ec1a0d;">* </i>品牌：</span>
                                    <p th:text="${deviceInfo.pp}"></p>
                                </li>
                            </ul>
                            <ul class="proInfo basicInfo">
                                <li class="layui-clear">
                                    <span><i style=" color: #ec1a0d;">* </i>设备类别：</span>
                                    <p th:text="${deviceInfo.sblb}"></p>
                                    <input id="id" name="id" type="hidden" th:value="${deviceInfo.id}" class="layui-input"/>
                                    <input class="layui-input" id="dlsId" name="dlsId" th:value="${deviceInfo.dlsId}" type="hidden"/>
                                </li>
                                <li class="layui-clear">
                                    <span><i style=" color: #ec1a0d;">* </i>产品代码：</span>
                                    <p th:text="${deviceInfo.cpdm}"></p>
                                </li>
                            </ul>

                            <ul class="proInfo basicInfo">

                                <li class="layui-clear">
                                    <span><i style=" color: #ec1a0d;">* </i>参数描述：</span>
                                    <p th:text="${deviceInfo.csms}"></p>
                                </li>
                            </ul>
                            <ul class="proInfo basicInfo">
                                <li class="layui-clear">
                                    <span>单位：</span>
                                    <p th:text="${deviceInfo.dw}"></p>
                                </li>
                                <li class="layui-clear">
                                    <span>数量：</span>
                                    <p th:text="${deviceInfo.sl}"></p>
                                </li>
                            </ul>
                            <ul class="proInfo basicInfo">
                                <li class="layui-clear">
                                    <span>租赁价格：</span>
                                    <p th:text="${deviceInfo.znjg}"></p>
                                </li>
                                <li class="layui-clear">
                                    <span>维保价格：</span>
                                    <p th:text="${deviceInfo.wbjg}"></p>
                                </li>
                            </ul>

                            <ul class="proInfo basicInfo">
                                <li class="layui-clear">
                                    <span><i style=" color: #ec1a0d;">* </i>备注：</span>
                                    <p th:text="${deviceInfo.remark}"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr class="layui-bg-blue">
                <a href="javascript:window.history.go(-1);" class="layui-btn">返回</a>
            </form>
        </div>
    </div>

</div>

<!--<script type="text/javascript" th:src="@{/js/business/deviceInfo/view.js}"></script>-->
</body>
</html>