<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>用户信息列表</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header">
            <form id="searchForm" class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input id="userName" type="text" name="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input" th:value="${userName}" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input id="nickName" type="text" name="nickName" placeholder="请输入用户名" autocomplete="off" class="layui-input" th:value="${nickName}" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-block">
                            <input id="mobile" type="text" name="mobile" placeholder="请输入手机号" autocomplete="off" class="layui-input" th:value="${mobile}" />
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn" data-type="search" type="button"><i
                                class="layui-icon layui-icon-search"></i>查询
                        </button>
                        <button class="layui-btn" data-type="searchFormClear" type="button"><i
                                class="layui-icon layui-icon-refresh"></i>清空
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="layui-card-body">
            <table id="userInfoTables" lay-filter="userInfoTables" style="margin-top: 30px;"></table>
            <!-- 列表中状态判断 -->
            <script id="status" type="text/html">
                {{#  if(d.status === 'success'){ }}
                    信息成功
                {{#  } else { }}
                {{#  if(d.status === 'fail'){ }}
                    信息失败
                {{#  } else { }}
                    处理中
                {{#  } }}
                {{#  } }}
            </script>
            <!-- 列表中支付方式判断 -->
            <script id="topupType" type="text/html">
                {{#  if(d.topupType === 'alipay'){ }}
                    支付宝
                {{#  } else { }}
                {{#  if(d.topupType === 'wechat'){ }}
                    微信
                {{#  } else { }}
                {{#  if(d.topupType === 'transfer'){ }}
                    线下转账
                {{#  } else { }}
                    其他
                {{#  } }}
                {{#  } }}
                {{#  } }}
            </script>
            <!-- 列表中时间格式化 -->
            <!--<script id="createTime" type="text/html">
                {{#
                    var date = new Date(d.createTime);
                    return date.Format("yyyy-MM-dd hh:mm:ss");
                }}
            </script>-->
            <!-- 列表中操作列显示 -->
            <script id="userInfoBar" type="text/html">
                {{#  if(d.status === 'submit'){ }}
                <a class="layui-btn layui-btn-xs" lay-event="editStatus"><i class="layui-icon">&#xe642;</i>设为成功</a>
                {{#  } else { }}
                {{#  } }}
            </script>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/business/userInfo/list.js}"></script>
</body>
</html>