<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/public :: commonStyle(~{::title},~{::link},~{})">
    <title>IT服务网-账户中心-修改密码</title>
    <link rel="stylesheet" type="text/css" href="/css/Account_center.css"/>
</head>
<body>
<!-- 头部公共 start -->
<div th:replace="common/header :: commonHeader('index')"></div>
<!-- 头部公共 end-->

<div class="personalBox">
    <div class="personalCon clearfix">
        <!-- 账户左侧导航栏  start  -->
        <div th:replace="userAccount/common/accountNavLeft :: bannerLeft('modifyPassword')"></div>
        <!-- 账户左侧导航栏  end    -->
        <div class="perRight">
            <div class="daohang">
                <h5 class=""><img src="/images/personalCenter/blue.png" alt=""><span>账号管理</span>/<span>修改密码</span></h5>
            </div>
            <div class="con1">
                <form action="" name="passwordForm" id="passwordForm" method="post" novalidate="novalidate">
                    <dl class="dl_mima">
                        <dt><span class="color_f00">*</span>当前密码：</dt>
                        <dd>
                            <input type="password" id="oldPassword" name="oldPassword" class="form-control member"
                                   placeholder="当前密码">
                        </dd>
                        <div style="clear: both"></div>
                    </dl>
                    <dl class="dl_mima">
                        <dt><span class="color_f00">*</span>新密码：</dt>
                        <dd>
                            <input type="password" id="newPassword" name="newPassword" class="form-control member"
                                   placeholder="新密码（8-16位字母数字组合）">
                        </dd>
                        <div style="clear: both"></div>
                    </dl>
                    <dl class="dl_mima">
                        <dt><span class="color_f00">*</span>确认新密码：</dt>
                        <dd>
                            <input type="password" id="confirmPassword" name="confirmPassword"
                                   class="form-control member" placeholder="确认新密码">
                        </dd>
                        <div style="clear: both"></div>
                    </dl>
                    <a href="javascript:;" id="modifySubmit" class="anniu2 btnEnabled">确定</a>
                </form>
                <div style="height:80px;"></div>
            </div>
        </div>
    </div>
</div>
<!-- 公共底部 start -->
<div th:replace="common/footer :: commonFooter"></div>
<!-- 公共底部 end -->

<!-- 弹框 start-->
<div th:replace="/common/prompt"></div>
<!-- 弹框 end-->

</body>
<script>
    //密码校验表单
    var passwordFormValidate = $("#passwordForm").validate({
        onfocusout:false,
        onkeyup:false,
        focusCleanup:true,
        rules : {
            oldPassword : {
                required : true,
                remote:{
                    type:"post",
                    url:pageContext.contextPath+"/accountManage/checkPassword"
                }
            },
            newPassword : {
                required : true,
                isPassWord : true,
                minlength : 6,
                maxlength : 16
            },
            confirmPassword : {
                required : true,
                isPassWord : true,
                minlength : 6,
                maxlength : 16,
                equalTo : "#newPassword"
            }
        },
        messages : {
            oldPassword : {
                required : "请输入当前密码",
                remote: "您输入的密码不正确"
            },
            newPassword : {
                required : "请输入新密码",
                isPassWord : "密码不能有空格,长度在6-16个字符之间",
                minlength : "密码不能有空格,长度在6-16个字符之间",
                maxlength : "密码不能有空格,长度在6-16个字符之间"
            },
            confirmPassword : {
                required : "请输入确认密码",
                isPassWord : "密码不能有空格,长度在6-16个字符之间",
                minlength : "密码不能有空格,长度在6-16个字符之间",
                maxlength : "密码不能有空格,长度在6-16个字符之间",
                equalTo : "两次密码输入不一致，请重新输入"
            }
        },
    });

    //自定义表单校验顺序
    function myPasswordFormValidate(){
        var flag = false;
        flag =  passwordFormValidate.element($("#oldPassword"));
        if(!flag) return flag;
        flag =  passwordFormValidate.element($("#newPassword"));
        if(!flag) return flag;
        flag =  passwordFormValidate.element($("#confirmPassword"));
        if(!flag) return flag;
        return flag;
    }

    //  提交
    $("#modifySubmit").click(function() {
        if (myPasswordFormValidate()) {
            $("#modifySubmit").addClass("disabled");
            jQuery.ajax({
                type : "POST",
                url : pageContext.contextPath +"/accountManage/modifyPassword/submit",
                data : $("#passwordForm").serialize(),
                success : function(data) {
                   // console.log("00000000000000000000000");    console.log(data);
                    if(data.flag == "true"){
                        GlobalPrompt.prompt("密码修改成功,请重新登录。",function () {
                            location.href = pageContext.contextPath +"/login" ;
                        });
                    }else if(data.flag == "false"){
                        GlobalPrompt.prompt(data.msg);
                    }
                },
                error : function(e) {
                    GlobalPrompt.prompt("抱歉，程序访问出现错误！请联系管理员。");
                }
            });
           $("#modifySubmit").removeClass("disabled");
        }
    });



</script>
</html>



