<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:itech="http://www.thymeleaf.org/mytag/itech" lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>用户系统消息</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header">
            <form id="searchForm" class="layui-form">
                <input id="cxmk" name="cxmk" type="hidden" th:value="${cxmk}" class="layui-input"/>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input id="topic" type="text" name="topic" placeholder="请输入标题"
                                   class="layui-input" th:value="${topic}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                            <input id="content" type="text" name="content" placeholder="请输入内容"
                                   class="layui-input" th:value="${content}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">消息类型</label>
                        <div class="layui-input-block">
                            <select name="busiType">
                                <option value="">请选择类型</option>
                                <option value="register">注册</option>
                                <option value="forgotPassword">忘记密码</option>
                            </select>
                            <!--<itech:code property="busiType" parentCode="busi_type" type="select"
                                        th:value="${busiType}"/>-->
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn" data-type="search"><i
                                class="layui-icon layui-icon-search"></i>查询
                        </button>
                        <button type="button" class="layui-btn" data-type="searchFormClear"><i
                                class="layui-icon layui-icon-refresh"></i>清空
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="layui-card-body">

            <table id="sysMessageTables" lay-filter="sysMessageTables"></table>
            <script id="status" type="text/html">
                {{#  if(d.status === undefined){ }}
                未知
                {{#  } else { }}
                {{#  if(d.status === '1'){ }}
                可用
                {{#  } else { }}
                禁用
                {{#  } }}
                {{#  } }}
            </script>
            <script id="sysMessagebar" type="text/html">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</a>
            </script>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/system/sysMessage/list.js}"></script>

</body>
</html>