<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:itech="http://www.thymeleaf.org/mytag/itech" lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>自定义服务管理</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header">
            <form id="searchForm" class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">类型名称</label>
                        <div class="layui-input-block">
                            <input id="serviceName" type="text" name="serviceName" placeholder="请输入类型名称"
                                   class="layui-input" th:value="${serviceName}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">类型编号</label>
                        <div class="layui-input-block">
                            <input id="serviceCode" type="text" name="serviceCode" placeholder="请输入类型编号"
                                   class="layui-input" th:value="${serviceCode}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">服务模块</label>
                        <div class="layui-input-block">
                            <itech:code property="serviceModule" parentCode="cloudComputingType" type="select"
                                        th:defaultValue="${serviceModule}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn" data-type="search"><i
                                class="layui-icon layui-icon-search"></i>查询
                        </button>
                        <button type="button" class="layui-btn" data-type="searchFormClear"><i
                                class="layui-icon layui-icon-refresh"></i>清空
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layui-btn-normal addLink_btn" data-type="add">添加服务类型</button>
            </div>

            <table id="serviceInfoTables" lay-filter="serviceInfoTables"></table>
            <script id="status" type="text/html">
                {{#  if(d.status === undefined){ }}
                未知
                {{#  } else { }}
                {{#  if(d.status === '1'){ }}
                启用
                {{#  } else { }}
                禁用
                {{#  } }}
                {{#  } }}
            </script>
            <script id="serviceInfoBar" type="text/html">
                <a class="layui-btn layui-btn-xs" lay-event="update"><i class="layui-icon">&#xe642;</i>修改</a>
                {{#  if(d.status === '1'){ }}
                <a class="layui-btn layui-btn-warm  layui-btn-xs" lay-event="disable"><i class="fa fa-ban"></i>&nbsp;禁用</a>
                {{#  } else { }}
                <a class="layui-btn layui-btn-warm  layui-btn-xs" lay-event="enable"><i class="fa fa-circle-o"></i>&nbsp;置为可用</a>
                {{#  } }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</a>
            </script>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/system/serviceInfo/list.js}"></script>
</body>
</html>