/*------去掉点击时的虚框-----start----*/
a:active, a:focus { outline: none }
/*------去掉点击时的虚框------end-----*/
.perRight{ padding: 25px 50px 36px;}
.perRight .daohang h5{margin-bottom: 45px; font-size: 16px; color: #666;padding-bottom:26px;border-bottom:1px solid #ccc;}
.perRight .daohang h5 img{ vertical-align: top;}
.perRight .daohang h5 span{ margin: 0 20px;}
/*修改手机号*/
.stepBigBox{padding-top:30px;}
.stepNumBox{padding-bottom:50px;}
.stepNumBox li{float:left;}
.stepNumBox .numLi{width:140px;text-align:center;}
.stepNum{width:50px;height:50px;border:3px solid #ccc;border-radius:50%;display:block;text-align:center;line-height:42px;font-size:24px;font-weight:bold;color:#999;margin:0 auto;}
.stepBorder{width:160px;border:1px solid #ccc;display:block;margin-top:20px;}
.stepTit{padding-top:15px;}
.currNumLi .stepNum{color:#f71;border:3px solid #f71;}
.currNumLi .stepTit{color:#f71;}
.stepYzmBox{padding-left:80px;}
.stepYzmBox span{float:left;width:200px;text-align:right;padding-right:10px;line-height:40px;}
.stepYzmTit i{font-style:normal;color:#D00000;font-size:16px;}
.stepYzmBox input{float:left;width:150px;height:40px;}
.stepYzmBox a{float:left;width:140px;height:40px;background:#11bbee;text-align:center;line-height:40px;color:#fff;border-radius:6px;margin-left:10px;}
.stepYzmBox a:hover,.stepYzmBox a:focus{color:#fff;text-decoration:none;}
.stepNextBtn{width:150px;height:40px;background:#0077bb;display:block;text-align:center;line-height:40px;color:#fff;border-radius:6px;margin:12px 0 30px 280px;}
.stepNextBtn:hover,.stepNextBtn:focus{color:#fff;text-decoration:none;}
.stepErrorBox{height:32px;padding-left:283px;padding-top:5px;}
.stepErrorBox .error{color:#D00000;}
.stepYzmBox .newNumTextW{width:300px;}
.stepTip{color:#666;text-align:center;padding:30px 0 20px;}
.stepSuccTip{text-align:center;padding:50px 0;}
.stepSuccTip p{font-size:16px;padding-top:20px;}













