p,h1,h2,h3,ul{margin:0;}
/*------去掉点击时的虚框-----start----*/
a:active, a:focus { outline: none }
/*------去掉点击时的虚框------end-----*/
.customSlide .carousel-inner .item img{width:100%;height:400px;margin:0 auto;display:block;}
.customSlide .carousel-control{font-size:80px;padding-top:150px;}
.carousel-indicators li,.carousel-indicators .active{/*width:60px;*/}
/*
.item1{background-color:#0077bb;}
.item2{background-color:#ff9911;}
.item3{background-color:#f04e35;}
.item4{background-color:#0077bb;}
.item5{background-color:#2d51bc;}
*/

.part1Service{width:1200px;margin:0 auto;padding-bottom:80px;}
.part2Advantage{width:1200px;margin:0 auto;padding-bottom:80px;}
.part3Process{width:1200px;margin:0 auto;padding-bottom:80px;}
.part4Case{width:1200px;margin:0 auto;padding-bottom:80px;}
.bgWhite{width:100%;background:#fff;}

.partTitle{padding-top:80px;}
.partTitle h3{font-size:30px;color:#333;text-align:center;margin-bottom:10px;}
.englishTitle b{width:510px;height:1px;background:#e6e6e6;margin-top:6px;}
.lineLeft{float:left;}
.englishTitle p{font-size:16px;color:#999;text-align:center;float:left;width:180px;}
.bottomBorder{width:100px;height:2px;background:#0077bb;margin:10px auto 0;}
.lineRight{float:right;}
.serviceText{font-size:14px;color:#106fb3;text-align:center;padding-top:50px;padding-bottom:40px;}

.serviceList{}
.serviceList li{width:285px;background:#fff;float:left;margin-right:20px;padding:15px;box-sizing:border-box;}
.serviceList li.haveBorder{border:1px solid #106fb3;box-sizing:border-box;}
.serviceList li:last-child{margin-right:0;}
.serviceList li:hover{cursor:pointer;}
/* .serviceList li img{width:255px;height:191px;margin:0 auto;display:block;} */
.serviceName{font-size:20px;color:#666;text-align:center;display:block;padding-top:40px;padding-bottom:30px;}
.introducText{font-size:14px;color:#999;height:88px;line-height:22px;}
.serviceDetailsBtn{width:78px;height:32px;background:#106fb3;color:#fff;text-align:center;line-height:32px;display:block;margin:0 auto 20px;}
.serviceDetailsBtn:hover,.serviceDetailsBtn:active,.serviceDetailsBtn:focus{color:#fff;text-decoration:none;}

.flowImgTop{text-align:center;padding-top:80px;}
.flowInfo{}
.flowInfo li{width:132px;float:left;text-align:center;margin-right:22px;}
.flowTit{font-size:16px;color:#f29e21;display:block;padding-top:10px;}
.flowText{width:132px;height:125px;background:url(../images/proFlow03.png) no-repeat;font-size:14px;color:#f29e21;line-height:28px;padding:22px 15px 0;margin-top:12px;}


.advantageCon{width:1200px;margin:0 auto;position:relative;background:#e7f0f7;margin-top:60px;padding-bottom:39px;}
.advTit{text-align:center;padding:45px 0;}
.advText{text-align:center;line-height:30px;}
.posBtn{position:absolute;bottom:-39px;left:50%;margin-left:-39px;}

.successCase{position:relative;margin-top:66px;}
.caseListBox{width:285px;background:#f7f7f7;padding:15px;border:1px solid #ccc;}
.caseText{font-size:14px;color:#999;margin-top:15px;line-height:28px;height:80px;}
.successCase a:hover{text-decoration:none;}
.caseHaveBorder{border:1px solid #106fb3;box-sizing:border-box;}
.successCase .swiper-button-prev{background-image:url(../images/caseArrowIconL.png);width:40px;height:40px;background-size:40px 40px;left:-56px;top:77%;}
.successCase .swiper-button-next{background-image:url(../images/caseArrowIconR.png);width:40px;height:40px;background-size:40px 40px;right:-56px;top:77%;}

.part5Map{width:1200px;margin:0 auto;padding-top:80px;}
.part5Map #map_box{width:100%;height:300px;border:1px solid #cccccc;}

/*关于我们页面*/
.aboutBigerMap{padding:40px 0;}
.aboutBigEvery{width:1200px;height:300px;margin:40px auto 0;}
.aboutBigEvery img{width:1200px;height:300px;}
.teamList{padding-top:20px;}
.teamList li{width:285px;height:213px;float:left;background:#dfe9f0;margin-right:20px;}
.teamList li img{width:285px;height:213px;border:1px solid #ddd;}
.teamList li:last-child{margin-right:0;}
.teamPaddBott{padding-bottom:0;}









