<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/public :: commonStyle(~{::title},~{::link},~{})">
    <title>IT服务网-定制研发</title>
    <link rel="stylesheet" type="text/css" href="css/customMade.css"/>
</head>
<body>
<!-- 头部公共 start -->
<div th:replace="common/header :: commonHeader('customization')"></div>
<!-- 头部公共 end-->

<div class="madeBanner">
    <img src="/images/customBanner.jpg"/>
</div>

<ul class="developList clearfix">
    <li>
        <img src="/images/madeIcon01.png"/>
        <h3>网站建设</h3>
    </li>
    <li>
        <img src="/images/madeIcon02.png"/>
        <h3>APP开发</h3>
    </li>
    <li>
        <img src="/images/madeIcon03.png"/>
        <h3>H5开发</h3>
    </li>
    <li>
        <img src="/images/madeIcon04.png"/>
        <h3>微信公众号</h3>
    </li>
</ul>

<div class="developCaseCon">
    <div><h3 class="deveTit">开发案例</h3></div>
    <div class="deveCase">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="case,caseStat:${caseList}">
                    <a href="javascript:;"
                       th:caseName="${case.Name}"
                       th:caseType="${case.type}"
                       th:caseLink="${case.link}"
                       th:caseContent="${case.content}"
                       th:caseImg="'/images/case/'+${case.caseImg}"
                       onclick="showCaseDetails(this);">
                        <div class="deveCaseList deveCaseBorder">
                            <img th:src="'/images/case/'+${case.coverLogo}"/>
                            <p class="deveCaseText" th:text="${#strings.substring(case.content,0,35)}+'...'"></p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class="moreService">
    <h3 class="serViceTit">更多服务</h3>
    <div class="serviceCon">
        <img src="/images/moreService.jpg"/>
    </div>
    <div class="serviceList clearfix">
        <a href="/account/customizationCenter/graphicDesign" class="serActive">平面设计</a>
        <a href="/account/customizationCenter/enterpriseMail">企业邮箱</a>
        <a href="/account/customizationCenter/DomainNameService">域名服务</a>
        <a href="/account/customizationCenter/SSLsafetyCertificate">SSL（HTTPS协议）安全证书</a>
        <a href="/account/customizationCenter/TrustWebsiteSeal">网站可信认证</a>
        <a href="/account/customizationCenter/SoftwareCopyrightApply">软件著作权申请</a>
        <a href="/account/customizationCenter/tradeMarkRegistration">公司/商标注册</a>
        <a href="/account/customizationCenter/outsourcingService">公司人员外派短期外包服务</a>
    </div>
</div>

<!-- 案例详情模态框 start-->
<div th:replace="/common/caseDetails"></div>
<!-- 案例详情模态框  end-->

<!-- 公共底部 start -->
<div th:replace="common/footer :: commonFooter"></div>
<!-- 公共底部 end -->
<script type="text/javascript">


        /*业务范围部分鼠标放上去显示边框*/
        $(function(){
            $('.serviceList li').mouseover(function(){
                $(this).addClass('haveBorder').siblings().removeClass('haveBorder');
            });
        });

        /*成功案例中swiper初始化及更改参数*/
        $(function(){
            /*var n=$('.swiper-wrapper .swiper-slide').length;
            var loopVal=false;
            if(n<=2){
                loopVal=false;
            }else{
                loopVal=true;
            }*/
            var mySwiper2 = new Swiper('.deveCase .swiper-container',{
                speed:1300,
                loop: true,
                slidesPerView:4,
                //slidesPerColumn: 2,
                //slidesPerGroup :4,
                //spaceBetween: 30,
                /*autoplay:{
                    delay:1000
                },*/
                pagination: {
                  el: '.swiper-pagination',
                  //clickable: true,
                },
                navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
                },
            });
            /*mySwiper2.el.onmouseover = function(){ //鼠标放上暂停轮播
                mySwiper2.autoplay.stop();
            }
            mySwiper2.el.onmouseleave = function(){
                mySwiper2.autoplay.start();
            }*/
        });

        /*鼠标滑过成功案例是出现边框*/
        $(function(){
            $('.deveCase .swiper-slide').mouseover(function(){
                $(this).find('.deveCaseList').addClass('deveCaseBorder').parent().parent().siblings().find('.deveCaseList').removeClass('deveCaseBorder');
            });
        });
        /*鼠标滑动更多服务的效果*/
        $('.serviceList a').mouseover(function(){
            $(this).addClass('serActive').siblings().removeClass('serActive');
        });


</script>
</body>
</html>



