<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>新增权限</title>
</head>
<style type="text/css" media="screen">
    .one-tj {
        margin-left: 10px;
        margin-right: 25px;
    }

    .one-btn-btn {
        width: 230px;
        padding-top: 10px;
        margin: 0 auto;
    }

    .layui-form .layui-form-label {
        padding-left: 15px;
        color: #666666;
    }

    .layui-form .layui-input-block {
        width: 300px;
    }

    .layui-form .layui-input-block input, .layui-form .layui-input-block textarea {
        color: #aaaaaa;
    }
</style>
<body>
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title site-title">
    </fieldset>
    <form id="dataForm" class="layui-form">
        <label id="idLabel" hidden></label>
        <input id="id" type="hidden" name="id"/>
        <label id="parentCodeLabel" hidden></label>
        <input id="parentCode" type="hidden" name="parentCode"/>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-block" style="overflow:hidden;">
                <input type="text" id="icon" name="icon" placeholder="请选择图标" class="layui-input"
                       style="width:208px;float:left;" readonly>
                <button class="layui-btn" id="choseIcon" style="float:left;">选择图标</button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单编码</label>
            <div class="layui-input-block">
                <input type="text" id="code" name="code" lay-verify="required" placeholder="请输入菜单编码"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" lay-verify="required" placeholder="请输入菜单名称"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单url</label>
            <div class="layui-input-block">
                <input type="text" id="url" name="url" placeholder="请输入菜单url" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">有效性</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="有效" checked="true">
                <input type="radio" name="status" value="0" title="无效">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点类型</label>
            <div class="layui-input-block">
                <select id="functionType" name="functionType" lay-filter="functionType">
                    <option value=""></option>
                    <!--<option value="subSystem">子系统</option>-->
                    <option value="module">模块</option>
                    <option value="subModule">子模块</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单序号</label>
            <div class="layui-input-block">
                <input type="text" id="seqnum" name="seqnum" lay-verify="required"
                       placeholder="请输入菜单序号" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item one-btn-btn">
            <button class="layui-btn one-tj" lay-submit lay-filter="addSysFunction">立即提交</button>
            <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/system/sysFunction/add.js}"></script>
</body>
</html>