<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{::link},~{})">
    <title>设置菜单权限</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ztree/metroStyle/metroStyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ztree/demo.css}"/>
</head>
<body>
<!-- 菜单权限设置弹窗 -->
<div class="layui-fluid">
    <input id="roleId" type="hidden"/>
    <ul id="sysFunctionTree" class="ztree"></ul>
    <div class="layui-form-item" style="padding-left:16px;padding-top:10px;">
        <button id="saveSetPermis" class="layui-btn" lay-submit lay-filter="add">保存权限设置</button>
        <button id="closeSetpermis" class="layui-btn">关闭</button>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ztree/jquery.ztree.all.js}"></script>
<script type="text/javascript">
    var treeObj;
    layui.use(['form', 'layer', 'jquery'], function () {
        var $ = layui.$,
            layer = layui.layer;

        $('#saveSetPermis').on('click', function () {
            var nodes = treeObj.getCheckedNodes(true);
            var menuArrIds = [];
            for (var i = 0; i < nodes.length; i++) {
                menuArrIds.push(nodes[i].id);
            }

            $.ajax({
                type: "POST",
                url: PageContext.getUrl("/sysrole/grant/rights/setting"),
                data: {functionCodes: menuArrIds, roleId: $("#roleId").val()},
                async: false,
                error: function () {
                    layer.alert("系统繁忙，请稍后重试");
                },
                success: function (data) {
                    //结果回应
                    if (data.flag == 'true') {
                        layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                            //先得到当前iframe层的索引
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index); //再执行关闭
                            //刷新父页面
                            parent.location.reload();
                        });
                    } else {
                        layer.msg(data.msg, {icon: 5});
                    }
                }
            });

        });

        $('#closeSetpermis').on('click', function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });

    //初始化权限
    function treeInit() {
        var setting = {
            check: {
                enable: true,
                chkStyle: "checkbox",
                chkboxType: {"Y": "ps", "N": "ps"},
                nocheckInherit: true,
                chkDisabledInherit: true
            }, callback: {
                onClick: function (e, treeId, treeNode) {
                    treeObj.checkNode(treeNode, !treeNode.checked, true);
                }
            }
        };
        $.ajax({
            type: "POST",
            url: PageContext.getUrl('/sysfunction/load/sysfunction'),
            data: {parentCode: "-1", roleId: $("#roleId").val()},
            async: false,
            dataType: 'json',
            timeout: 1000,
            cache: false,
            error: function () {
                layer.alert("系统繁忙，请稍后重试");
            },
            success: function (data) {
                var zNodes = data;
                treeObj = $.fn.zTree.init($("#sysFunctionTree"), setting, zNodes);
            }
        });
    }
</script>
</body>
</html>